hr {
    display: block;
    margin: 1em auto;
    border: 1px inset;
}

.title-mid {
    text-align: center;
}

.navbar {
    opacity: 0.9;
}

.search-field-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding {
    padding: 30px;
}

#header {
    padding-top: 50px;
}