@media all and (min-width: 480px) {
    .register {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 320px;
    }

    .register button {
        width: 100%;
        background-color: black;
        color: white;
    }
}