@media all and (min-width: 480px) {
    .user-profile {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 700px;
    }
}

.padding {
    padding: 30px;
}

.top-padding {
    padding-top: 10px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.inline-block {
    display: inline-block;
}

#header {
    padding-top: 50px;
}

.button-width {
    width: inherit;
}

hr {
    display: block;
    margin: 1em auto;
    border: 1px inset;
}

.title-mid {
    text-align: center;
}

.navbar {
    opacity: 0.9;
}

.search-field-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}


