.padding {
    padding: 30px;
}

.top-padding {
    padding-top: 10px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.inline-block {
    display: inline-block;
}

#header {
    padding-top: 50px;
}

.button-width {
    width: inherit;
}

hr {
    display: block;
    margin: 1em auto;
    border: 1px inset;
}

.title-mid {
    text-align: center;
}

.navbar {
    opacity: 0.9;
}

.search-field-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.category-list-padding {
    padding-bottom: 20px;
}

.commentary-input-field {
    width: 100%;
}

#wp_tile {
	position: fixed;
	top: 20%
}
