.navbar {
    opacity: 0.9;
}

.padding {
    padding: 30px;
}

hr {
    display: block;
    margin: 1em auto;
    border: 1px inset;
}

.top-padding {
    padding-top: 10px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.button-width {
    width: inherit;
}

@media all and (min-width: 480px) {
    .submit-list {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 600px;
    }

    .submit-list button {
        width: 100%;
    }
}