<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container" style="padding: 50px">
<div class="well" style="padding: 100px">
    <h1>500 - 42 - 42 - 12 = <strong>404</strong></h1>
    <h3>
        Oops, something went wrong.
    </h3>
    <h4>
        Sorry, we didn't find this page.
    </h4>
</div>
</body>
</html>