<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/CategoryPage.js"></script>
    <link href="/css/CategoryWallpapers.css" rel="stylesheet" type="text/css"/>
</head>
<body class="padding container">
    <#include "NavigationBar.ftlh">

    <h1 id="header">
        ${category}
    </h1>

    <hr>

    <h2 class="title-mid"><strong>Choose whatever you want, bruh!</strong></h2>
    <div id="search-field" class="search-field-padding">
        <div class="row">
            <h4 class="col-sm-8"><strong>Find wallpapers you want with key word</strong></h4>
			<form id="search_form">
            <div class="input-group col-sm-4">
                <input type="text" class="form-control" placeholder="Search" name="query" id="query_field">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
			</form>
        </div>
    </div>
	<#assign count = 0>
    <div id="wallpaper-list" class="row container">
		<#list wallpapers as wallpaper4>
			<div class="row">
				<#list wallpaper4 as wallpaper>
					<div class="col-sm-3">
						<#assign count = count + 1>
						<#assign uid = "child_" + count>
						<a href=${wallpaper.href} target="_blank">
							<input type="hidden" id=${uid} value=${wallpaper.id}>
							<div class="wallpaper-item well">
								<img src=${wallpaper.thumbnail} class="img-thumbnail" alt="Your Wallpaper" height="128" >
								<a href=${wallpaper.category.href}><h3><strong>${wallpaper.category.name}</strong></h3></a>
								<p>
									<img src="/resources/like.png" width="50" height="50"><span class="badge">${wallpaper.upvotes}</span>
									<img src="/resources/dislike.png" width="32" height="32"><span class="badge">${wallpaper.downvotes}</span>
									<a href=${wallpaper.url} download>
										<img class="pull-right" src="/resources/download.png" width="40" height="40">
									</a>
								</p>
							</div>
						</a>
					</div>
				</#list>
			</div>
		</#list>
	</div>
	<form id="download_form">
		<div style="text-align:center">
		<input type="submit" class="btn btn-primary" id="download_more" value="Load more">
		</div>
		<input type="hidden" id="last_id" name="lastId">
		<script>$("#last_id").val($("#${uid}").val())</script>
	</form>
	<hr>
	<#include "Footer.ftlh">
</body>
</html>